<section>
    <h1>Gestion du client</h1>
    <form id="formGestionClient">
    <div class="form-group">
    <label for="exampleFormControlInput1">Prenom</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput2">Nom</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput3">Mail</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput4">Telephone</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Type de voie</label>
      <select id="exampleFormControlSelect1">
        <option value="rue">rue</option>
        <option value="avenue">avenue</option>
        <option value="allee">allée</option>
        <option value="cours">cours</option>
        <option value="place">place</option>
        <option value="escalier">escalier</option>
        <option value="boulevard">boulevard</option>
        <option value="impasse">impasse</option>
        <option value="chemin">chemin</option>
        <option value="faubourg">faubourg</option>
      </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput5">Nom de la voie</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput6">Numéro de la voie</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput7">Code postal</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput8">Ville</label>
        <input type="text" value="">
    </div>
    <button type="submit">Envoyer</button>
  </form>
</section>