<section>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id de la vente</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Moi</td>
            <td>nana</td>
            <td>truc</td>
            <td>47 faubourg de gueydan</td>
            <td><a class="danger" href="supp">Supprimer</a></td>
          </tr>
        </tbody>
      </table>
</section>