
#detailDvd{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:30px;
    text-align: left;
    width: 70%;
}
#detailDvd figcaption{
    margin-left: 30px;
    font-size: 0.8em;
    position: relative;
}
#detailDvd img{
    height: auto;
    width: 400px;
}
#modifier{
    position:absolute;
    top:0;
    right:0;
}

@media (max-width: 800px) {
    #detailDvd{
        flex-direction: column;
        width: 90%;
    }
}
@media (max-width: 500px) {
    #detailDvd{
        width: 95%;
        margin:10px;
    }
    #detailDvd img{
        width: 250px;
    }
}