<section id="sectionDetailDvd">
    <h1>{{ dvd.name }}</h1>
        <figure id="detailDvd" class="vignetteDvd">
            <img [src]="dvd.imgPath" alt="dvd">
            <figcaption>
                <p>Genre : {{ dvd.genre }}</p>
                <a id="modifier" class="fauxBouton" href="/modifier-dvd">Modifier</a>
                <p>Prix : {{ dvd.price }}</p>
                <p>Nombre en stock : {{ dvd.quantity }}</p>
                <p>Résumé :<br>{{ dvd.resume }}</p>
            </figcaption>
        </figure>
</section>
