<section>
    <h1>Ajouter un DVD</h1>
    <form id="formConnexion">
    <div class="form-group">
    <label for="exampleFormControlInput1">Titre</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Genre</label>
      <select id="selectGenre">
        <option value="">Choisir un genre</option>
        <option value="1">Action</option>
        <option value="2">Aventure</option>
        <option value="3">Comedie</option>
        <option value="4">Drame</option>
      </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Quantite</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Prix</label>
        <input type="text" value="">
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Photo</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <button type="submit">Envoyer</button>
  </form>
</section>
