<section>
    <h1>Créer une vente</h1>
    <form #formData="ngForm" (submit)="formCreateSale(formData)">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Client</label>
      <select [(ngModel)]="saleObjet.FKUsers" name="FKUsers" id="exampleFormControlSelect1">
        <option *ngFor="let customer of customerToShow" value="{{ customer.id }}">{{ customer.firstName }} {{ customer.lastName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Dvd</label>
      <select [(ngModel)]="saleObjet.FKMovies" name="FKMovies" id="exampleFormControlSelect2">
        <option *ngFor="let dvd of dvdToShow" value="{{ dvd.id }}">{{ dvd.id }} {{ dvd.name }}</option>
      </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">Quantite</label>
        <input [(ngModel)]="saleObjet.quantityOfSales" name="quantityOfSales" type="number" min="0">
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Date</label>
      <input [(ngModel)]="saleObjet.date" name="date" type="datetime-local">
    </div>
    
    <input [(ngModel)]="saleObjet.total" name="total" type="hidden">
    <!--<div class="form-group">
        <label for="exampleFormControlInput1">Total</label>
        <input [(ngModel)]="saleObjet.total" name="total" type="hidden">
    </div>-->
    <button type="submit">Envoyer</button>
  </form>
</section>
