<header>
  <!--<nav>
    <ul>
      <li>
        <button (click)="handleGenreClickButton('action')">
          Action
        </button>
      </li>
      <li>
        <button (click)="handleGenreClickButton('aventure')">
          Aventure
        </button>
      </li>
      <li>
        <a href="#">Science-fiction</a>
      </li>
      <li>
        <a href="#">Comedie</a>
      </li>
    </ul>
  </nav>-->
  <img src="assets/img/logo.png" alt="Logo de DVDStore">
  <form>
    <input (click)="handleButtonSearchClick()" type="search" placeholder="Search" [(ngModel)]="searchText">
    <button (click)="handleButtonSearchClick()">...</button>
  </form>
</header>
<router-outlet></router-outlet>
<footer>
  <p>Copyright &copy;</p>
</footer>