<header>
  <a title="Home" href=""><img src="assets/img/logo.png" alt="Logo de DVDStore"></a>
  <nav>
    <ul>
      <li>
        <a title="Home" href="">Home</a>
      </li>
      <li id="genreListe">
          <form>
          <select>
            <option value="">Genre</option>
            <option (click)="handleGenreClickButton('Action')">
                Action
            </option>
            <option (click)="handleGenreClickButton('Aventure')">
                Aventure
            </option>
            <option (click)="handleGenreClickButton('Horreur')">
                Horreur
            </option>
            <option (click)="handleGenreClickButton('Comedie')">
                Comedie
            </option>
            <option (click)="handleGenreClickButton('Thriller')">
                Thriller
            </option>
            <option (click)="handleGenreClickButton('Drame')">Drame</option>
            <option (click)="handleGenreClickButton('Science-fiction')">Science-fiction</option>
          </select>
        </form>
      </li><!-- fin li genreListe -->
      <li>
        <form id="formSearch">
          <input (click)="handleButtonSearchClick()" type="search" placeholder="Search" [(ngModel)]="searchText">
          <button (click)="handleButtonSearchClick()">...</button>
        </form>
      </li>
      <li >
        <a title="Ajouter" href="add">Ajouter</a>
      </li>
    <li id="">
      <a title="Connexion" href="login">Connexion</a>
    </li>
  </ul>
  
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <p>Copyright &copy;</p>
</footer>