#modif{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin:30px;
    text-align: left;
    width: 70%;
}
#modif figure{
    width: 45%;
}
#modif img{
    height: auto;
    width: 350px;
}
#modif2 form{
    width: 100%;
}
#modif2{
    font-size: 0.8em;
    position: relative;
}
#modif2 a{
    position:absolute;
    bottom:0;
    right:0;
    text-align: center;

}
#modif2 button{
    position:absolute;
    bottom:0;
    left: 0;
}