<section>
    <h1>Modifier le DVD</h1>
    <div id="modif">
        <figure>
            <img [src]="dvdObj.imgPath" alt="couverture du dvd">
        </figure>
        <div id="modif2">
        <form  enctype="multipart/form-data" #formData="ngForm" (submit)="formUpdate(formData)">
          <input type="hidden" [(ngModel)]="dvdObj.id" name="id">
        <div class="form-group">
        <label for="exampleFormControlInput1">Titre</label>
            <input type="text" [(ngModel)]="dvdObj.name" name="name">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Genre</label>
          <select [(ngModel)]="dvdObj.genre" name="genre" id="selectGenre">
            <option>Choisir un genre</option>
            <option value="1">Action</option>
            <option value="2">Aventure</option>
            <option value="3">Comedie</option>
            <option value="4">Drame</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlInput1">Quantite</label>
          <input [(ngModel)]="dvdObj.quantity" name="quantity" type="text">
      </div>
      <div class="form-group">
          <label for="exampleFormControlInput1">Prix</label>
          <input [(ngModel)]="dvdObj.price" name="price" type="text">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Synopsis</label>
        <textarea [(ngModel)]="dvdObj.synopsis" name="synopsis" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
      <div class="form-group">
          <label for="exampleFormControlFile1">Photo</label>
          <input [(ngModel)]="dvdObj.imgPath" name="imgPath" type="text">
          <!--<input name="photo" type="file" class="form-control-file" id="exampleFormControlFile1">-->
      </div>
      <button type="submit">Envoyer</button>
      </form>
      <a class="danger" href="supp">Supprimer</a>
    </div>
  </div>
</section>
