<section>
    <h1>Bienvenue sur DVD Store</h1>
      <div id="banniere">
        <img alt="Bannière du DVDStore" src="assets/img/1dvd.jpg">
        <img alt="Bannière du DVDStore" src="assets/img/4dvd.jpg">
        <img alt="Bannière du DVDStore" src="assets/img/2dvd.jpg">
      </div>
      <p> Explorez, choisissez et commandez vos DVD préférés dès maintenant !<br>
        Vous trouverez les dernières sorties, les classiques incontournables et les éditions spéciales pour enrichir votre collection.</p>
</section>