<!--<nav>
        <ul>
          <li>
            <a title="Home" href="">Home</a>
          </li>
          <li id="genreListe">
              <form>
              <select>
                <option value="">Genre</option>
                <option (click)="handleGenreClickButton('Action')">
                    Action
                </option>
                <option (click)="handleGenreClickButton('Aventure')">
                    Aventure
                </option>
                <option (click)="handleGenreClickButton('Horreur')">
                    Horreur
                </option>
                <option (click)="handleGenreClickButton('Comedie')">
                    Comedie
                </option>
                <option (click)="handleGenreClickButton('Thriller')">
                    Thriller
                </option>
                <option (click)="handleGenreClickButton('Drame')">Drame</option>
                <option (click)="handleGenreClickButton('Science-fiction')">Science-fiction</option>
              </select>
            </form>
          </li>
        <li >
          <a title="Connexion" href="login">Connexion</a>
        </li>
      </ul>
      </nav>-->
    <section>
      <h1>Bienvenue sur DVD Store</h1>
      <img alt="Bannière du DVDStore" src="assets/img/1dvd.jpg">
      <img alt="Bannière du DVDStore" src="assets/img/4dvd.jpg">
      <img alt="Bannière du DVDStore" src="assets/img/2dvd.jpg">
      <p> Explorez, choisissez et commandez vos DVD préférés dès maintenant !<br>
        Vous trouverez les dernières sorties, les classiques incontournables et les éditions spéciales pour enrichir votre collection.</p>
    </section>